@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #1a73e8;
    color: white;
}

header input {
    padding: 8px;
    width: 500px;
    border-radius: 8px;
}

header button {
    padding: 8px 12px;
    background: #ffcc00;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1.2rem;
    border: 1px solid rgb(125, 125, 0);

    &:hover{
        background-color: #e3b500;
    }
}
.note{
    text-align: center;
    font-size: 1em;
    color: red;
    font-weight: 500;
}

.snippet-grid {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.snippet-card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.snippet-card:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}
.msg{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 2rem;
    font-family: "varela round";
    color: red;
    font-weight: 700;
}

/* making modal & giving it styles */

.modalcontainer{
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0 auto;
    height: 75vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal{
    background-color: #fff;
    height: 50%;
    width: 40%;
    padding: 2%;
    text-align: start;
    border-radius: 12px;
    border: 1px solid darkblue;
    font-size: 1.3rem;
}

.modal .btns{
    justify-self: center;
    display: flex;
    align-items: center;
    gap: 50px;

    & button{
        padding: 8px 12px;
        background: #ffcc00;
        border: none;
        cursor: pointer;
        border-radius: 8px;
        font-size: 1.2rem;
        border: 1px solid rgb(125, 125, 0);
        font-family: "poppins";

        &:hover{
            background-color: #e3b500;
        }
    }
}

.btns #copysnipp{
    background-color: #1a73e8;
    color: white;
    
    &:hover{
        background-color: #4288e3;
    }
}