body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #1a73e8;
    color: white;
}

header input {
    padding: 8px;
    width: 500px;
    border-radius: 8px;
}

header button {
    padding: 8px 12px;
    background: #ffcc00;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1.2rem;
    border: 1px solid rgb(125, 125, 0);

    &:hover{
        background-color: #e3b500;
    }
}

.note{
    text-align: center;
    font-size: 1em;
    color: red;
    font-weight: 500;
}

.snippet-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.snippet-card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.snippet-card:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}